@import "./reset.scss";
@import "./variables/globals.scss";
@import "./theme/dark.scss";
@import "./theme/normal.scss";

.app {
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
}