.map {
  background-color: #282c34;
  min-height: calc(100vh - var(--footer-height) - var(--navbar-height) - calc(var(--page-wrapper-padding) * 2));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 1px;
  width: 100%;
}
